[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/zendframework/zf2.git	
[submodule "vendor/ValVersion"]
	path = vendor/ValVersion
	url = git://github.com/valorin/ValVersion.git
[submodule "vendor/ValCommon"]
	path = vendor/ValCommon
	url = git@github.com:valorin/ValCommon.git
