article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display:block; }
audio, canvas, video {
  display:inline-block;
  *display:inline;
  *zoom:1;
}
audio:not([controls]) {
  display:none;
  height:0;
}
[hidden] { display:none; }
html {
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
html, button, input, select, textarea { font-family:sans-serif; }
body { margin:0; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
h1 {
  font-size:2em;
  margin:0.67em 0;
}
h2 {
  font-size:1.5em;
  margin:0.83em 0;
}
h3 {
  font-size:1.17em;
  margin:1em 0;
}
h4 {
  font-size:1em;
  margin:1.33em 0;
}
h5 {
  font-size:0.83em;
  margin:1.67em 0;
}
h6 {
  font-size:0.75em;
  margin:2.33em 0;
}
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
mark {
  background:#ffff00;
  color:#000000;
}
p, pre { margin:1em 0; }
pre, code, kbd, samp {
  font-family:monospace, serif;
  _font-family:'courier new', monospace;
  font-size:1em;
}
pre {
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
}
q { quotes:none; }
q:before, q:after {
  content:'';
  content:none;
}
small { font-size:75%; }
sub, sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup { top:-0.5em; }
sub { bottom:-0.25em; }
dl, menu, ol, ul { margin:1em 0; }
dd { margin:0 0 0 40px; }
menu, ol, ul { padding:0 0 0 40px; }
nav ul, nav ol {
  list-style:none;
  list-style-image:none;
}
img {
  border:0;
  -ms-interpolation-mode:bicubic;
}
svg:not(:root) { overflow:hidden; }
figure { margin:0; }
form { margin:0; }
fieldset {
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em;
}
legend {
  border:0;
  padding:0;
  white-space:normal;
  *margin-left:-7px;
}
button, input, select, textarea {
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  *vertical-align:middle;
}
button, input { line-height:normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor:pointer;
  -webkit-appearance:button;
  *overflow:visible;
}
button[disabled], input[disabled] { cursor:default; }
input[type="checkbox"], input[type="radio"] {
  box-sizing:border-box;
  padding:0;
  *height:13px;
  *width:13px;
}
input[type="search"] {
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0;
}
textarea {
  overflow:auto;
  vertical-align:top;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
header {
  background:#2c001e;
  border-bottom:5px solid #772953;
}
header h1 {
  margin:0;
  padding:20px 30px;
}
header h1 small { display:block; }
.content { margin:0; }
.content .pages {
  border-top:5px solid #772953;
  margin:20px 10px 10px 10px;
  padding:10px 20px;
}
.content .pages h2 { border-bottom:1px solid #772953; }
.content .extras { text-align:center; }
.content .extras aside {
  background:#2c001e;
  border-top:5px solid #772953;
  width:200px;
  padding:10px;
  margin:10px;
  display:inline-block;
  vertical-align:top;
  text-align:left;
}
.content .extras ul, .content .extras ol { padding-left:25px; }
.content .extras .history li { padding-bottom:5px; }
footer {
  margin:0;
  padding:20px 10px;
  text-align:center;
  clear:both;
}
header, .pages, aside {
  -webkit-box-shadow:0 5px 10px #aaaaaa;
  -moz-box-shadow:0 5px 10px #aaaaaa;
  box-shadow:0 5px 10px #aaaaaa;
}
html, button, input, select, textarea, body { font-family:'Ubuntu', Helvetica, Helvetica Neue, Arial, sans-serif; }
pre, code, kbd, samp {
  font-family:'Ubuntu Mono', monospace, serif;
  _font-family:'Ubuntu Mono', 'courier new', monospace;
}
header h1 a {
  color:#ffffff;
  text-decoration:none;
  font-size:35px;
}
header h1 small {
  color:#dd4814;
  font-weight:normal;
  font-size:17px;
}
.pages .chance {
  font-style:italic;
  color:#682209;
}
.extras { color:#ffffff; }
.extras h3 { font-size:14px; }
.extras p, .extras li { font-size:12px; }
.extras ul, .extras ol { padding-left:25px; }
.extras a {
  text-decoration:none;
  color:#dd4814;
}
.extras a:hover {
  text-decoration:underline;
  color:#ef784e;
}
.extras .history .choice { font-style:italic; }
footer p {
  font-size:12px;
  color:#777777;
}
footer p a { color:#777777; }
@media (max-width: 480px) {
  header h1 a { font-size:18px; }
  header h1 small { font-size:10px; }
  .content .pages { margin-top:10px; }
  .content .extras aside {
    display:block;
    width:auto;
  }
}
@media (min-width: 481px) and (max-width: 719px) {
  header h1 a { font-size:32px; }
  header h1 small { font-size:16px; }
}
@media (min-width: 720px) {
  header h1, footer {
    width:660px;
    margin:0 auto;
  }
  .content {
    width:720px;
    margin:0 auto;
  }
  .content .pages { width:660px; }
}
@media (min-width: 980px) {
  header h1, footer { width:920px; }
  .content { width:980px; }
  .content .pages {
    width:680px;
    display:inline-block;
    vertical-align:top;
  }
  .content .extras {
    display:inline-block;
    vertical-align:top;
    padding-top:10px;
    width:240px;
  }
}
@media (min-width: 1200px) {
  header h1, footer { width:1140px; }
  .content { width:1200px; }
  .content .pages { width:900px; }
}
