/* WYOA Typography Styles */

html, button, input, select, textarea, body {
    font-family:'Ubuntu', Helvetica, Helvetica Neue, Arial, sans-serif;
}
pre, code, kbd, samp {
  font-family:'Ubuntu Mono', monospace, serif;
  _font-family:'Ubuntu Mono', 'courier new', monospace;
}

header {
    h1 {
        a {
            color: @headerLink;
            text-decoration: none;
            font-size: 35px;
        }

        small {
            color: @headerSmall;
            font-weight: normal;
            font-size: 17px;
        }
    }
}

.pages {
    h2 {
        border-bottom: 1px solid @lightPurple;
    }
}

.extras {
    color: @extrasTextColour;

    h3 {
        font-size: @extrasHeaderSize;
    }
    p, li {
        font-size: @extrasFontSize;
    }

    ul, ol {
        padding-left: 25px;
    }
}


footer {
    p {
        font-size: 12px;
        color: @footerText;

        a {
            color: @footerText;
        }
    }
}
