/* WYOA LESS Variables */

/* Colours */
@darkPurple:    #2c001e;
@lightPurple:   #772953;
@orange:        #dd4814;
@white:         #FFFFFF;
@grey:          #aaaaaa;


/* Layout */
@headerBackground:  @darkPurple;
@headerBorder:      5px solid @lightPurple;
@headerLink:        @white;
@headerSmall:       @orange;

@shadow:            0 5px 10px @grey;

@extrasBackground:  @darkPurple;
@extrasBorder:      5px solid @lightPurple;
